$taupeS: #634646;
$taupeC: #B18D8D;
$vertS: #3c6347;
$vertC:#8db097;
$creme:#fce3e3;

$Pop:'Poppins', sans-serif;
$Rubik:"Rubik", sans-serif;
* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
  }
/*-- DEBUT DECLARATION FUNCTIONS-- */
@mixin aligment($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
  }
  @mixin flexAlign($wrap, $justify, $align) {
    display: flex;
    flex-wrap: $wrap;
    justify-content: $justify;
    align-items: $align;
  }
 /*-- FIN DECLARATION FUNCTIONS-- */


body{
    background: $creme;
   height: 100vh;
   width: 100%;
   // overflow: hidden;

   .clip-bkg{
    position: fixed;
    display: inline-block;
    height: 100%;
    width: 100%;
    clip-path: polygon(0 0, 85% 0%, 25% 100%, 0% 100%);
    background: $vertS;
    z-index: 1;
}

    header,section{
        position:relative;
        width: 100%;
        z-index:15;
        font-family:$Pop;    
        color: $creme;
    }
    header{
        top:0;
        left: 0;
        height:30%;
        line-height:4.5em;
        text-align: center;
        h1{
            font-size: 5.5em;
            font-weight: 400;
        }
        h2{
            font-size: 2em;
            font-weight: 200;
        }
    }
    section{
        p{
            position: relative;
            left: 0;
            max-width: 40%;
        }
        .taupe{
            position: absolute;
            right: 1%;
            top:0;
            width: 60%;

            .dirtBkg{
                display: block;
                z-index: 10;
                transform:translateY(435px);
                height: 60px;
                width: 100%;
                background-color: #000;
                
            }
            .animationTaupe{
                width: 50%;
                z-index: 15;
                position: absolute;
                top: 0;
                right: 15%;
                .animation--corps{
                    height: 500px;
                }
                .animation--musseau{
                    height:100px;
                    transform: translate(198%,-242%);
                }
            }
            .dirtFgd{
                display: block;
                z-index: 25;
                transform:translateY(430px);
                height: 60px;
                width: 100%;
                background-color: #242424;
                
            }

        }
    }
}